{% extends 'base.html.twig' %}

{% block title %}Entrevista index{% endblock %}

{% block body %}
    <h1>Entrevista index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Testigo</th>
                <th>Tipo_crimen</th>
                <th>Transcripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrevistum in entrevistas %}
            <tr>
                <td>{{ entrevistum.id }}</td>
                <td>{{ entrevistum.testigo }}</td>
                <td>{{ entrevistum.tipoCrimen }}</td>
                <td>{{ entrevistum.transcripcion }}</td>
                <td>
                    <a href="{{ path('app_entrevista_show', {'id': entrevistum.id}) }}">show</a>
                    <a href="{{ path('app_entrevista_edit', {'id': entrevistum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entrevista_new') }}">Create new</a>
{% endblock %}
