{% extends 'base.html.twig' %}

{% block title %}Entrevista{% endblock %}

{% block body %}
    <h1>Entrevista</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrevistum.id }}</td>
            </tr>
            <tr>
                <th>Testigo</th>
                <td>{{ entrevistum.testigo }}</td>
            </tr>
            <tr>
                <th>Tipo_crimen</th>
                <td>{{ entrevistum.tipoCrimen }}</td>
            </tr>
            <tr>
                <th>Transcripcion</th>
                <td>{{ entrevistum.transcripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entrevista_index') }}">back to list</a>

    <a href="{{ path('app_entrevista_edit', {'id': entrevistum.id}) }}">edit</a>

    {{ include('entrevista/_delete_form.html.twig') }}
{% endblock %}
